@import "../styles/globals.css";

@layer base {
  :root {
    @apply font-sans antialiased;
  }

  * {
    @apply border-border;
  }

  body {
    @apply min-w-[320px] min-h-screen bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  #root {
    @apply min-h-screen;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
